body {  
	position: relative; left: 20px;
}

h1 {
  font-size: 300%;
}

p {
  font-size: 150%;
}

li {font-size: 150%;
}

.photo {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  position: relative; left: 20px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;     
}

.profile-gmail-icon {
	max-width:400px;
	width: 120px;
    height: 120px;
    object-fit: contain;
}
.wrapper-gmail {
	padding:0 20px;
	display: flex;
	align-items: center;
	gap:30px;
}

.intro-email {flex:0;
font-size: 130%;}

.profile-whatsapp-icon {
    max-width:400px;
	width: 120px;
    height: 120px;
    object-fit: contain;
}
.wrapper-whatsapp {
	padding:0 20px;
	display: flex;
	align-items: center;
	gap:30px;
}

.intro-whatsapp {flex:0;
white-space: nowrap;
font-size: 130%;}

.profile-review {
	position: relative; left: 20px;
	padding: 15px;
}

